{% extends 'base.html.twig' %}

{% block title %}Oceny{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container">
<h1 class="display-4">Dziennik ocen</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Sprawdź oceny</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Panel nauczyciela</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/add-student">Dodaj ucznia</a>
                <a class="dropdown-item" href="/add-grade">Dodaj ocenę</a>
            </div>
        </li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Logowanie nauczyciela</a>
            </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Wyloguj</a>
            </li>
        {% endif %}
        
    </ul>
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Przedmiot</th>
                <th scope="col">Ocena</th>
                <th scope="col">Data</th>
                <th scope="col">Uczeń</th>
                <th scope="col">Klasa</th>
                {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <th scope="col">Akcja</th>
                {% endif %} #}
                
                </tr>
            </thead>
            <tbody>
                {% for ocena in oceny %}
                <trscope="row">
                    <td>{{ocena.przedmiot}}</td>
                    <td>{{ocena.ocena}}</td>
                    <td>{{ocena.data.format("Y-m-d")}}</td>
                    <td>{{ocena.uczen.imie}} {{ocena.uczen.nazwisko}}</td>
                    <td>{{ocena.uczen.klasa}}</td>
                    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <form action="/edit-grade/{{ocena.id}}">
                            <button type="submit" class="btn btn-primary">Edytuj</button>
                        </form>
                    </td>
                    {% endif %} #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}
